*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}


.game{
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.game h3{
    margin-top: 30px;
}